        body {
            background-color: red;
        }
        
        header {
            color: white;
            text-align: center
        }
        
        section {
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            width: 500px;
            margin: auto;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39)
        }
        
        footer {
            color: white;
            text-align: center;
            font-style: italic
        }
        
        div {
            text-align: center;
            padding: 20px;
        }
        
        #msg {
            font-size: 20px
        }
        
        img#imagem {
            width: 400px;
        }