body {
    background-color: #0f0f73;
}

header {
    color: white;
    text-align: center
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(17, 198, 230);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic
}

div {
    text-align: center;
    padding: 20px;
}

#msg {
    font-size: 20px
}

img#imagem {
    width: 400px;
}

input#nasc {
    width: 100px;
}

.animated.flip {
    backface-visibility: visible;
    animation-name: flip;
    animation-duration: 2s;
}

p#sub {
    font-size: 20px;
}

input#but {
    background-color: blue;
    border-radius: 15px;
    width: 74px;
    font-size: 13px;
    height: 23px;
}